* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

section {
    width: 1920px;
}

section#main {
    height: 450px;
    overflow: hidden;
    position: relative;
}

section#main > .logo::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: linear-gradient(rgba(0,0,0,1), rgba(255,255,255,0.1), rgba(0,0,0,0.5));
    z-index: 1;
}

.logo > img {
    width: 100%;
    height: 100%;
}

.container {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 100%;
    z-index: 10;
}

header {
    width: 100%;
}

header > .textLogo {
    color: #fff;
    position: relative;
}

header > .textLogo > .blogName {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}